<mat-toolbar class="nav">
    <span><strong>Zappyhire</strong></span>
    <span class="example-spacer"></span>
    <span><strong>Deepu Xavier</strong></span>
</mat-toolbar>
<div class="row">
    <div class="col-2">
        <mat-card class="example-card">
            <mat-card-header>
                <img mat-card-image class="img1" src="{{this.data[0].avatar}}" alt="Photo of candidate">
            </mat-card-header>
            <mat-card-content>
                <mat-card-title style="margin-left:23% ;"><strong>{{this.data[0].first_name}}
                        {{this.data[0].last_name}}</strong></mat-card-title>
                <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="phone" style="margin-left:30%;">
                </mat-icon>
                <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="email" style="margin-left:14%;">
                </mat-icon>
            </mat-card-content>
            <mat-divider inset></mat-divider>

            <mat-card-content>
                <mat-list role="list" class="list1">
                    <mat-list-item role="listitem">
                        <mat-icon> call</mat-icon>{{this.data[0].phone_number}}
                    </mat-list-item>
                    <mat-list-item role="listitem">
                        <mat-icon> email</mat-icon>{{this.data[0].email}}
                    </mat-list-item>
                    <mat-list-item role="listitem">
                        <mat-icon> location_on</mat-icon>{{this.data[0].location}}
                    </mat-list-item>
                </mat-list>

            </mat-card-content>
        </mat-card>

        <mat-list role="list" style="margin-top:10% ;border: 0.01px solid rgb(128, 124, 124);     border-radius: 6px;">
            <mat-list-item role="listitem">Jobs Applied</mat-list-item>
            <mat-divider inset></mat-divider>

            <mat-list-item role="listitem">Profile</mat-list-item>
            <mat-divider inset></mat-divider>

            <mat-list-item role="listitem">Documents</mat-list-item>
          </mat-list>
          

    </div>
    <div class="col-8 d3">
               <app-assessments></app-assessments>
    </div>
    <div class="col-2">
        <h4 style="color: #6C757D;">JOB MATCH</h4>
        <h5 style="color:#198754 ;">83%</h5>
        <p>
            <ngb-progressbar type="success" [value]="83"></ngb-progressbar>
        </p>
        <p style="font-size:small ;">The candidate is a good match with your job requirement.He should be spotted</p>

        <h4 style="color: #6C757D;">CHANCE OF JOINING</h4>
        <div style="border: 0.01px solid rgb(128, 124, 124);     border-radius: 10px;;">
            <h1 class="ms-3 mt-3">High</h1>
            <p class="ms-3 mb-3">Quick Response & Enthusiastic</p>
        </div>
        <h4 style="color: #6C757D; margin-top: 10%;">COMMENTS</h4>

        <div style="margin-top:10% ;border: 0.01px solid rgb(128, 124, 124);     border-radius: 10px;">
            
                <h4 class="ms-3 mt-3"><strong>{{comment[0].name}}</strong></h4>
                <p class="ms-3 mb-3">{{comment[0].comment}}</p>
              
              
        </div>
    </div>
</div>